@{
    ViewBag.Title = "Post Uploader";
}

<div class="jumbotron">
    <h1>ABC Social Media Site </h1>
    <p class="lead">ABC is the latest social media platform to share your thoughts and feelings...</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can start off by signing up and uploading a simple text
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Explicit and hate content checked</h2>
        <p>Every post that is uploaded will undergo an on-the-spot checking for content that is harmful against
          an individual or community</p>
      
    </div>
    <div class="col-md-4">
        <h2>Text-based content</h2>
        <p>This site only supports textual content</p>
       
    </div>
</div>